.swiper {
  padding: 1.5rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  background-color: #ffc107;
}

.swiper-button-prev {
  color: #ffc107;
}

.swiper-button-next {
  color: #ffc107;
}
